/* font-family: "GothamProBlack"; */
@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothamProBlack.eot");
    src: url("../fonts/GothamProBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBlack.woff") format("woff"),
    url("../fonts/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}